<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
</head>
<body>
<!-- //最上階	-->
<div>
<p>
  The time is now: <%= Time.now %>
</p>
</div>


<!-- //中 -->
<div  style="text-align:center">
	     <h1>何々大作戦</h1>

</div>
<div  style="text-align:center">
	  <img src="http://konomachi.colle-ction.com/wp-content/uploads/2012/12/janken.png" width="128" height="128" />
<br/>
	  <button　onclick="href='  '">ログイン</button>
          <!--<button onclick="href='new_janken_path'">じゃんけんゲーム</button>-->
	  <%= link_to 'じゃんけんゲーム', new_janken_path %>
<button　onclick="href='  '">紹介</button>

</div>

<!-- //最下階 -->
<div>
<p align="right">Team5,the project from 2017/07/26.</p>
</div>

</body>
</html>
