<!DOCTYPE html>
<html>
<head>
	<title>member</title>
</head>
<style type="text/css">
	.div{background-color: #AFEEEE;border:1px solid gray; width:250px; height:400px; float: left;}
	body{text-align:center}
	#divcenter{margin:0 auto} 
</style>
<body>
<div align="center"><h1>Team 5</h1></div>

<div>
 <!-- Otama -->
 <div class="div" align="center">
	<a href="https://github.com/Otama">Otama</a>
	<br/>
    <img src="https://avatars1.githubusercontent.com/u/2987508?v=4&s=400" width="200px">
    <br/>
	<P>
		
	</P>
 </div class=“divcenter”>
 <!-- RyutoHata -->
 <div class="div" align="center">
	<a href="https://github.com/RyutoHata">RyutoHata</a>
	<br/>
    <img src="https://avatars1.githubusercontent.com/u/20060460?v=4&s=400" width="200px">
    <br/>
	<P>
		
	</P>
 </div>
 <!-- Liujiajian -->
 <div class="div" align="center">
	<a href="https://github.com/Liujiajian">Liujiajian</a>
	<br/>
    <img src="https://avatars1.githubusercontent.com/u/23338640?v=4&u=d5b76f431d2d9268cb26beb67b46144d81071d2a&s=400" width="200px">
    <br/>
	<P>
		 私はリュウ　カケンです。よろしくお願いします！		
	</P>
 </div>
 <!-- 他のメンバー -->
 <div class="div" align="center">
	<a href="https://github.com/vymurooka">ymurooka</a>
	<br/>
    <img src="https://avatars3.githubusercontent.com/u/27704585?v=4&s=400" width="200px">
    <br/>
	<P>
		
	</P>
 </div>
  <div style="clear:both;"></div>
  </div>
</div>
</body>
</html>
